* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{ 
    display: flex;
    flex-direction: column;
}

header {
    background: #1111;
    color: ivory;
    height: 150px;
}

footer {
    background: maroon;
    color: ivory;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

main {
    flex: 1;
    background: #eee;
    padding: 2rem;
}